<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Sign in</title>
  {% include 'header.html.twig' %}
</head>
<body>
  <div class="row">
    <div id="login">
      <form method="post">
          {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}
          <h1 class="h3 mb-3 font-weight-normal">Connectez vous</h1><br><br>
          <label for="inputUsername">Identifiant :</label>
          <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus><br>
          <label for="inputPassword">Mot de passe :</label>
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required><br>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"><br>
          <button class="btn btn-primary" type="submit">
              Se connecter
          </button>
          <a href="createuser" type="button" class="btn btn-primary" id="createUser">Créer un compte</a>
      </form>
    </div>
  </div>
  <script>
    $.backstretch("{{ asset('build/img/login-bg.jpg')}}", {
      speed: 500
    });
  </script>
</body>

</html>






