body {
    background-color: lightgray;
}

#login, #create{
    height: 60%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: gainsboro;
    margin-top: 10%;
    border-radius: 15px;
}

