<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Dashboard">
<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<title>Dashio - Bootstrap Admin Template</title>
{% include 'header.html.twig' %}
</head>
<html lang="en">

	<body>
		<section id="container">
			<!--Barre d'en haut-->
			{% include 'top_bar.html.twig' %}
			<!--Menu de gauche-->
			{% include 'side_menu.html.twig' %}
			<!--Barre de recherche accueil-->
				<section id="main-content"> <section class="wrapper">

					<div class="row">
						<div class="main-chart w-100">
								<h1><center>Accueil</center></h1>
								<nav class="navbar navbar-light bg-light mt-5 ml-auto mr-auto">
									<div class="form-inline ml-auto mr-auto">
										<input id="nameProduit" class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Rechercher" minlength="1" maxlength="30" size="70">
										<button id="searchAnnonce" class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
									</div>
							  </nav>
							<div class="row contentannonces w-75 mt-5 ml-auto mr-auto">
								{% for annonce in annonces %}
									<div class="col-md-4">
										<div style="height:auto !important;" class="card">
											<img style="width:200px; height:200px;" src="{{ asset('build/img/annonces/' ~ annonce.image) }}" class="card-img-top ml-auto mr-auto" alt="...">
											<div class="card-body">
												<p class="card-text">{{annonce.description}}</p>
												<center><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Accéder au produit</button></center>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
							<div class="row mt-5">
								<nav class="mr-auto ml-auto" aria-label="Navigation">
									<ul class="pagination">
										<li class="page-item">
											<a class="page-link" href="#" aria-label="Previous">
												<span aria-hidden="true">&laquo;</span>
											</a>
										</li>
										<li class="page-item">
											<a class="page-link" href="#">1</a>
										</li>
										<li class="page-item">
											<a class="page-link" href="#">2</a>
										</li>
										<li class="page-item">
											<a class="page-link" href="#">3</a>
										</li>
										<li class="page-item">
											<a class="page-link" href="#" aria-label="Next">
												<span aria-hidden="true">&raquo;</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<script type="text/javascript">
						$(document).ready(function () {
              var unique_id = $.gritter.add({
              // (string | mandatory) the heading of the notification
              title: 'Welcome to Dashio!',
              // (string | mandatory) the text inside the notification

              // (string | optional) the image to display on the left
              image: '{{ asset("build/img/ui-sam.jpg") }}',
              // (bool | optional) if you want it to fade out on its own or just sit there
              sticky: false,
              // (int | optional) the time you want it to be alive for before fading out
              time: 8000,
              // (string | optional) the class name you want to apply to that specific message
              class_name: 'my-sticky-class'
              });

              return false;
            });
           </script>
           <script type="application/javascript">
            $(document).ready(function () {
              $("#date-popover").popover({html: true, trigger: "manual"});
              $("#date-popover").hide();
              $("#date-popover").click(function (e) {
              $(this).hide();
            });

            $("#my-calendar").zabuto_calendar({
              action: function () {
              return myDateFunction(this.id, false);
              },
              action_nav: function () {
              return myNavFunction(this.id);
              },
              ajax: {
              url: "show_data.php?action=1",
              modal: true
              },
              legend: [
              {
              type: "text",
              label: "Special event",
              badge: "00"
              }, {
              type: "block",
              label: "Regular event"
              }
              ]
              });
            });

            function myNavFunction(id) {
              $("#date-popover").hide();
              var nav = $("#" + id).data("navigation");
              var to = $("#" + id).data("to");
              console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
            }
					</script>
  </body>

</html>
