<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{#    <script#}
{#            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyOzx1FZ-gqrnwi6ttf8hW01VH4Xd6tSU&callback=initMap&libraries=&v=weekly"#}
{#            defer#}
{#    ></script>#}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyOzx1FZ-gqrnwi6ttf8hW01VH4Xd6tSU&callback=initMap&libraries=&v=weekly">
</script>
    <style type="text/css">
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 50%;
            width: 50%;
            margin: auto;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script>
        var panorama;
        var marker;
        function initMap(){
            var adresse = "88 Boulevard Gallieni, 92130 Issy-les-Moulineaux"; // Nous récupérons le contenu du champ adresse
            var lat = 0;
            var lon = 0;
            if(adresse != ""){ // Si l'adresse n'est pas vide
                var geocoder =  new google.maps.Geocoder(); // On instancie le geocoder
                geocoder.geocode( { 'address': adresse}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) { // Si l'adresse a été résolue
                        lat = results[0].geometry.location.lat(); // On récupère la latitude
                        lon = results[0].geometry.location.lng(); // On récupère la longitude
                        console.log(lat);
                        console.log(lon);
                        var MyPosition = {lat: lat, lng:  lon};

                        panorama = new google.maps.Map(
                            document.getElementById('map'),
                            {
                                center: MyPosition,
                                // pov: {heading: 165, pitch: 0},
                                zoom: 18
                            });
                        marker = new google.maps.Marker({
                                position: MyPosition,
                                map: panorama,
                                title: adresse
                            });
                    } else {
                        alert("Something got wrong " + status);
                    }
                });
            }
        }
    </script>
</head>
<body>
<div id="map"></div>
</body>
</html>
