<header class="header black-bg"> <div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
  </div>
  <!--logo start-->
  <a href="{{ path('oc_accueil_index') }}" class="logo">
    <b>ENTR<span>AIDE</span>
    </b>
  </a>
  <!--logo end-->
  <div
    class="nav notify-row" id="top_menu">
    <!--  notification start -->
    <ul class="nav top-menu">
      <!-- inbox dropdown start-->
      <li id="header_inbox_bar" class="dropdown">
        <a style="cursor:pointer; color:#999;" data-toggle="dropdown" class="dropdown-toggle mr-0">
          <i class="fa fa-shopping-basket"></i>
          <span id="nbpanier" class="badge bg-theme"></span>
        </a>
        <ul id="panier" class="dropdown-menu extended inbox">
        </ul>
      </li>
    </ul>
    <!--  notification end -->
  </div>
  <div class="top-menu mt-4">
    <ul class="nav pull-right top-menu">
      <li>
        <a class="logout" href="{{ path('security_logout') }}">Se déconnecter</a>
      </li>
    </ul>
  </div>
</header>

 <script>
    $(document).ready(function() {
      $('.msg').hide();
      afficherPanier();
      $('#ajoutpanier').on('click', function(){
          const idannonce = $(this).data('idannonce');
          $.get("/ProjetHitema/public/index.php/ajoutpanier/" + idannonce, function() {
              afficherPanier();
              	$('.msg').fadeIn('slow');
			          $('.msg').delay(2000).fadeOut('slow');
            });
      });
      $('#panier').on('click', '#deletepanier',function(){
          const idannonce = $(this).data('idpanier');
          $.get("/ProjetHitema/public/index.php/supprimepanier/" + idannonce, function() {
              afficherPanier();
            });
      });
    });

    function afficherPanier(){
      $.get("/ProjetHitema/public/index.php/getpanier/", function( data ) {
          const allAnnonces = JSON.parse(data);
          $('#nbpanier').html(allAnnonces.length);
          let html = `<div class="notify-arrow notify-arrow-green"></div>
                          <li>
                          <p class="green">Vous avez ` + allAnnonces.length + ` articles</p>
                          </li>`;
          $.each(allAnnonces, function( index, value ) {  
              html +=`<li class="row">
                        <div class="col-md-9 pr-0">
                          <a href="/ProjetHitema/public/index.php/detailannonce/` + value['annonce']['id'] + `">
                            <span class="photo"><img alt="avatar" src="/ProjetHitema/public/imgajout/annonces/` + value['annonce']['image'] + `"></span>
                            <span class="subject">
                                <span class="nom ml-1">` + value['annonce']['nom'] + `</span>
                            </span>
                            <span class="ml-1 prix">
                                Prix : ` + value['annonce']['tarif'] + ` € x ` +  value['quantite'] + `
                            </span>
                          </a>
                        </div>
                        <div class="col-md-1">
                          <i id="deletepanier" data-idpanier="` + value['id'] + `" style="font-size:18px;color:red;cursor:pointer" class="fa fa-trash mt-3"></i>
                        </div>
                      </li>`;
          });

          html += `<li>
                      <center><a href="{{path('oc_panier')}}">Voir le panier</a></center>
                  </li>`;
          $('#panier').html(html);   
        });
    }
  </script>